.header{
    height: 34vw;
    margin: 30px auto;
    background : url('../../Assets/pic_3.png') no-repeat ;
    background-size: cover;
    position: relative;
}
.headerContents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;

}

.headerContents h2{
    font-size: max( 4.5vw,22px);
    color:whitesmoke;
    font-weight: 500;
}

.headerContents p{
    color: white;
    font-size:1vw;
}

.headerContents button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 3vw;
    background-color: white;
    border-radius: 50px;
    font-size: max(1vw,13px);
}

@media (max-width:1050px){
    
    .headerContents{
        max-width: 45%;
    }
}
@media (max-width:750px){
    
    .headerContents{
        max-width: 65%;
    }
    .headerContents p{
        display: none;
    }
    .headerContents button{
        padding: 2vw,4vw;
    }
}